:root {
    --primary-color: hsl(175, 100%, 15%);
    --background-color: hsl(0, 0%, 98%);
    --code-background-color: hsl(223, 12%, 89%);
    --text-color: hsl(0, 0%, 15%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: system-ui, sans-serif;
    font-size: 1.125rem;
    line-height: 1.5;
    color: var(--text-color);
}

.wrapper {
    max-width: 64rem;
    margin-inline: auto;
    display: grid;
    gap: 1rem;
    padding: 1rem;
}


section {
    display: grid;
}

code {
    background-color: var(--code-background-color);
    padding: 1rem 1.5rem;
}

img {
    display: block;
    border: 1px solid var(--primary-color);
    height: 300px;
}


.group {
    position: relative;
    height: 400px;
}

.group img {
    position: absolute;
    top: 0;
    left: 0;
}