.navbar {
  background-color: var(--c-navbar);
  a {
    display: flex;
  }
  .site-name {
    width: 100%;
    text-align: center;
  }
}
#sidebar {
  background: var(--c-bg);
  border-color: var(--c-border);
}